
<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
     <app-formulaire-recherche></app-formulaire-recherche>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <mat-grid-list cols="3" rowHeight="2:1">
            <span *ngFor="let item of mesForfaits">
                <mat-grid-tile *ngIf="item.forfaitVedette">
                        <app-mini-forfait  [forfait]="item" style="width: 100%;" ></app-mini-forfait >
                </mat-grid-tile>
            </span>
        </mat-grid-list>

      <button type="button" mat-button (click)="drawer.toggle()">
        Rechercher forfait
      </button>
    </div>
    <app-liste-forfaits></app-liste-forfaits> 

  </mat-drawer-container>





<!-- <app-formulaire-forfait></app-formulaire-forfait> -->