<a  mat-raised-button routerLink="nouveauForfait" color='primary'>Ajouter un nouveau forfait</a>


<table mat-table #tableForfaits [dataSource]="mesForfaits">

    <ng-container matColumnDef="dateDepart">
        <th mat-header-cell *matHeaderCellDef> Date de départ </th>
        <td mat-cell *matCellDef="let forfait"> {{forfait.dateDepart}} </td>
    </ng-container>

    <ng-container matColumnDef="dateRetour">
        <th mat-header-cell *matHeaderCellDef> Date d’arrivée </th>
        <td mat-cell *matCellDef="let forfait"> {{forfait.dateRetour}} </td>
    </ng-container>

    <ng-container matColumnDef="nomHotel">
        <th mat-header-cell *matHeaderCellDef> Nom de l’hôtel </th>
        <td mat-cell *matCellDef="let forfait"> {{forfait.hotel.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef> Prix </th>
        <td mat-cell *matCellDef="let forfait"> {{forfait.prix}}$ </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>

        <td mat-cell *matCellDef="let forfait" class="boutonsAction">
            <div style="display: flex;">
                <form (ngSubmit)="onEdit(forfait)">
                    <button mat-button [routerLink]="['editForfait/', forfait._id]"><i class="material-icons">edit</i></button>
                </form>
                <form (ngSubmit)="onDelete(forfait)">
                    <button mat-button ><i class="material-icons">delete</i></button>
                </form>
            </div>
        </td>
     </ng-container>
     
 
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
 
 </table>
 