<mat-card class='cardMiniForfait'>
    <div class='cardHeader'>
        <div class="destination">
            <div class='destinationVillePays'>
                {{forfait.destination}} 
            </div>
            <div class='villeDepart'>
                de {{forfait.villeDeDepart}}
            </div>
        </div>
        <span  *ngIf="forfait.forfaitVedette" >
            <div class='forfaitVedette'>FORFAIT VEDETTE</div>
        </span>
    </div>
    <div class='hotel'>
        {{forfait.hotel.nom}} 
    </div>
    <div class='sectionPrix'>
        <div *ngIf="forfait.rabais>0; else elseBlock" class='cardPrix'>
            <span class='prixSansRabais'>{{forfait.prix}}$</span>
            <span class='prixRabais'>{{forfait.rabais}}$</span>
            <span class='prixAvecRabais'>{{forfait.prix-forfait.rabais}}$</span>
        </div>
        <ng-template #elseBlock><span class='cardPrix'>{{forfait.prix}}$</span></ng-template>
    </div>
    <div class="footer">
        <div><app-etoiles [etoiles]="forfait.hotel.etoiles" class='etoiles'></app-etoiles></div>
        <div>{{forfait.dateDeDepart}}, <span class='jours'>7 jours</span> </div>
    </div>
</mat-card>



