<mat-card style="background-image: linear-gradient(  #00bcd4,lightblue,#b2ebf2); display: flex; flex-direction: column; line-height: normal ;  padding:1em; margin-left: 0.5em; margin-right: 0.5em; margin-top: 0.5em;">
    <div style='display: flex; flex-direction: row; justify-content: space-between; flex:1'>
        <div style='display: flex; flex-direction: row; flex-direction: column;'>
            <div style="font-size: 1.2em;">
                {{forfait.destination}} 
            </div>
            <div style="display: flex; justify-content: flex-end; font-size: 0.7em; color: gray;">
                de {{forfait.villeDeDepart}}
            </div>
        </div>
        <span  *ngIf="forfait.forfaitVedette" >
            <div style="box-shadow: 0.2em 0.3em #888888;
            background-color: goldenrod;  font-weight: lighter; border-radius: 0.5em;font-size: 1.2em; padding: 0.2em 0.5em 0.2em 0.5em;">FORFAIT VEDETTE</div>
        </span>
    </div>
    <div style='display: flex; flex-direction: row; justify-content: center;flex:1;font-size: 2em;color: darkblue;margin-bottom: 0.8em; margin-top: 0.8em; font-weight: bolder;'>
        {{forfait.hotel.nom}} 
    </div>
    <div style='margin-bottom: 1.5em;'>
        <div *ngIf="forfait.rabais>0; else elseBlock" class='cardPrix' style="display:flex; flex:1; font-size:1.6em; justify-content: space-evenly; ">
            <span class='prixSansRabais'>{{forfait.prix}}$</span>
            <span class='prixRabais'>{{forfait.rabais}}$</span>
            <span class='prixAvecRabais'>{{forfait.prix-forfait.rabais}}$</span>
        </div>
        <ng-template #elseBlock><span style="display: flex;flex:1;font-size:1.6em;justify-content: space-evenly;">{{forfait.prix}}$</span></ng-template>
    </div>
    <div style='display: flex; flex-direction: row; font-size: 1.2em;justify-content: space-between;flex:1; align-items:flex-end;'>
        <div><app-etoiles [etoiles]="forfait.hotel.etoiles" style="font-size: 2em;"></app-etoiles></div>
        <div>{{forfait.dateDeDepart}}, <b style="color: firebrick;">7 jours</b> </div>
    </div>
</mat-card>

<!-- <div style="background-color: lightblue; padding: 0; font-size: 5px; line-height: normal;">
    {{forfait.destination}} 
</div> -->

