

<mat-drawer-container class="example-container" autosize>
    
  
    
      
     <!-- Liste de Mini-forfaits (forfaits vedette) -->
    <div>
        <mat-grid-list cols="3" rowHeight="2:1">
            <span *ngFor="let item of mesForfaits | slice:0:7; let i=index" >
                <mat-grid-tile *ngIf="item.vedette" >
                        <app-mini-forfait  [forfait]="item" style="width: 100%;" ></app-mini-forfait >
                </mat-grid-tile>
            </span>
          </mat-grid-list>
    </div>

    <!-- Formulaire de recherche -->
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <app-formulaire-recherche [(recherche)]="recherche" (closeDrawer)="drawer.toggle()"></app-formulaire-recherche>
     </mat-drawer>
     <!-- Ouvrir formulaire de recherche -->
    <button class="my-class"
              type="button"
              mat-button 
              (click)="drawer.toggle()" 
              mat-raised-button 
              color="primary" 
      >
        Rechercher forfait
    </button>

    <!-- Liste de forfaits complets -->
    <app-liste-forfaits [(recherche)]="recherche"></app-liste-forfaits> 

  </mat-drawer-container>


