

<mat-drawer-container class="example-container" autosize>
    <!-- Formulaire de recherche -->
    <mat-drawer #drawer class="example-sidenav" mode="side">
     <app-formulaire-recherche [(recherche)]="recherche"></app-formulaire-recherche>
    </mat-drawer>
  
    <div>
     date de depart: {{recherche.dateDepart}} <br>
     duree: {{recherche.duree}} jours<br>
     etoiles: {{recherche.nbEtoiles}} étoiles<br>
     <div style='display:flex;'>caracteristiques:
      <div *ngFor="let item of recherche.caracteristiques" >
        <div *ngIf="item.selected" style='margin-right: 8px;'>
             {{item.name}} 
        </div>
      </div>
      </div>
    </div>
      
     <!-- Mini-forfaits (forfaits vedette) -->
    <div>
        <mat-grid-list cols="3" rowHeight="2:1">
            <span *ngFor="let item of mesForfaits">
                <mat-grid-tile *ngIf="item.vedette">
                        <app-mini-forfait  [forfait]="item" style="width: 100%;" ></app-mini-forfait >
                </mat-grid-tile>
            </span>
        </mat-grid-list>

      <button type="button" mat-button (click)="drawer.toggle()" mat-raised-button color="primary" style="margin: 10px;">
        Rechercher forfait
      </button>
    
    </div>

    <!-- Liste de forfaits complets -->
    <app-liste-forfaits></app-liste-forfaits> 

  </mat-drawer-container>



 <!-- Formulaire de gestion -->
<!-- <app-formulaire-forfait></app-formulaire-forfait> -->
